### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Eclipse ###
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/
.factorypath

/bin/
